* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: #040403;
  color: #c3e8bd;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.main {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 1000px;
  padding-top: 1rem;
}
.main #title {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 900;
}
.main #description {
  text-align: center;
  color: #8eb897;
  font-weight: 600;
}
.main #source {
  align-self: flex-end;
}
.main #source a:link,
.main #source a:visited {
  text-decoration: none;
  color: #d3ddcf;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main #source a:hover,
.main #source a:active {
  color: #c3e8bd;
}

.tick text {
  font-weight: 800;
  font-size: 0.7rem;
}

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

div.tooltip {
  position: absolute;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.6);
  border: 0px;
  border-radius: 2px;
  pointer-events: none;
}
